/* Universal */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color:black;
  /* background-color:#a5dbfd */
}

/* changes display style and font size of name on nav bar */
header h1 {
  display: inline-block;
  font-size: 32px;
}


ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0;
  background-color: rgb(40,121,255);
}

.banner{
  background-image: url(../images/19862rotated.jpg);
  background-color: white;
  background-size: cover;
  background-size :center 465px; 
  margin:15px;
  padding: 30px 0px 0px 30px;

}
  #quote{
  position:relative;
  left:890px;
  bottom:20px;
  font-family: 'Cursive' 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


header{
  background-color: rgb(40,121,255);
  padding: 20px 20px 20px 120px;
  border:30px;
}
header nav {
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  
}

header nav ul a {
  
  margin-left: 15px;
  margin-right:10px;
}

#first-application{
position:relative;
left:200px
}

h2{
font-size:50px;
line-height:1.2em;
}

.titlesleft{
float:left;
margin:20px;
text-align: center;
}

article{
  line-height: 150%;
  display:flex;
  flex-direction:row;
  margin:15px;
  padding:10px;
  /* background-color: #a5dbfd; */
}

h3{
  flex-direction:column;
}

